
</div>
<form action="https://intense-basin-80493.herokuapp.com" target="_blank">
  <button class="open-button" > >> Other Project</button>
</form>

<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Naresh Choudhary</p>
  </div>
</div>
</body>
</html>
